<section class="question">
  <div class="container">
    <div class="card">
      <div class="question__header">
        <div class="question__logo">
          <img
            src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg"
            alt="logo"
          />
        </div>

        <div class="question__welcome">
          <span>Welcome {{ name }}</span>
        </div>
      </div>

      <ng-container
        *ngIf="currentIndexQuestion < questionList.length - 1; else theResult"
      >
        <div class="question__tracking">
          <div class="score">
            <h6>Total: {{ points }}</h6>
          </div>
          <div class="question-remain">
            <span
              >Question {{ currentIndexQuestion + 1 }} of
              {{ questionList.length || 10 }}</span
            >
          </div>
          <div class="timer">
            <h6>{{ counter }} secs ⏱</h6>
          </div>
        </div>

        <div class="progress">
          <div
            [ngClass]="{
              'bg-success': progress === '100',
              'bg-primary': progress < '100'
            }"
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: progress + '%' }"
          ></div>
        </div>

        <div
          class="question__content"
          *ngIf="questionList && questionList.length > 0"
        >
          <div class="question__heading">
            <div class="card">
              <h4
                [innerHTML]="
                  questionList[currentIndexQuestion]?.question | dompurify
                "
              ></h4>
            </div>
          </div>

          <div class="question__options">
            <app-options
              [answers]="questionList[currentIndexQuestion].answers"
              (selectAnswer)="selectAnswer($event)"
            ></app-options>
          </div>
        </div>
      </ng-container>

      <ng-template #theResult>
        <app-result
          [points]="points"
          [correctAnswer]="correctAnswer"
          [inCorrectAnswer]="inCorrectAnswer"
          [totalQuestions]="questionList.length"
        ></app-result>
      </ng-template>

      <div class="question__footer">
        <button (click)="resetQuiz()" type="btn" class="btn btn-primary">
          Reset Quiz
        </button>
      </div>
    </div>
  </div>
</section>
