.question {
  margin-top: 5rem;
}

.question__header {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

.question__logo > img {
  width: 30px;
  height: 24px;
}

.question__tracking {
  display: flex;
  justify-content: space-around;

  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.question__content {
  padding: 1.5rem;
}

.question__footer {
  text-align: center;

  padding: 1rem;
}
